* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: 0;
    background-color: #D3D3D3;
    color: white;
}

h1 {
    margin-bottom: 0!important;
}


ul {
    list-style: none;
}